/* Style */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'montserrat';
    background-color: #EEEEEE;
    width: auto;
    height: auto;
}

.colloring {
    color: #76abae;
}

html {
    scroll-behavior: smooth;
}


/* Navbar */

.background {
    width: 105px;
    height: 100%;
    background-color: white;
    z-index: 999;
    position: fixed;
    margin-top: 120px;
    border-radius: 0 100px 0 0;
}

.navbar {
    z-index: 9999;
    position: fixed;
}

.navbar a img {
    width: 60px;
    height: 60px;
    margin-left: 14px;
    margin-top: 47px;
    transition: all 0.3s;
}

.navbar .home {
    margin-top: 130px;
}

.navbar a img:hover {
    background-color: rgba(0, 0, 0, .1);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    transition: all 0.3s;
}


/* Halaman 1 */

.poto {
    background-image: url(img/pattern.png);
    height: 720px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(70%);
    background-position: center;
    z-index: -999;
}

.MUHAMMAD {
    color: #ffffff;
    margin: -510px 200px;
    letter-spacing: 10px;
    position: absolute;
    text-align: center;
    font-size: 100px;
    box-sizing: border-box;
    text-shadow: 8px 10px 4px #192140;
    z-index: 3;
    font-family: 'caviar dreams';
}

.FATUR {
    color: #ffffff;
    margin: -455px 270px;
    letter-spacing: 10px;
    position: absolute;
    text-align: center;
    font-size: 150px;
    box-sizing: border-box;
    text-shadow: -10px 10px 10px #192140;
    z-index: 3;
    font-family: 'Akira super expanded';
}

.RAHMAN {
    color: #222831;
    margin: -335px 230px;
    letter-spacing: 60px;
    position: absolute;
    text-align: center;
    font-size: 70px;
    box-sizing: border-box;
    text-shadow: 0px 0px 7px #ffffff;
    z-index: 3;
    font-family: 'Caviar dreams';
}

.namabawah h4{
    background-color: white;
    color: #222831;
    width: 320px;
    height: 40px;
    margin: -250px 630px;
    position: absolute;
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    z-index: 2;
    font-family: 'Akira super expanded';
    box-shadow: 0px 0px 7px #ffffff;;
}

/* Halaman 2 */

.halaman2 {
    background-color: #000000;
    width: 1519px;
    height: 800px;
}

.content .Palur {
    width: 380px;
    height: 550px;
    border-radius: 20px;
    margin-top: 160px;
    margin-left: 150px;
    float: left;
    border: 8px solid white;
}

.aboutme {
    color: #ffffff;
    background-color: #76abae;
    width: 220px;
    height: 35px;
    position: absolute;
    margin-top: 140px;
    margin-left: 235px;
    text-align: center;
    font-size: 23px;
    font-family: 'akira super';
    border-radius: 15px;
    padding-top: 12px;
    border: 5px solid white;
    letter-spacing: 2px;
    z-index: 200;
}

.content h1 {
    color: white;
    margin-top: 170px;
    margin-left: 590px;
    position: absolute;
    font-size: 50px;
}

.content p {
    color: #ffffff;
    margin-top: 240px;
    margin-left: 590px;
    position: absolute;
    font-size: 20px;
    width: 740px;
    line-height: 30px;
}

.content h1.pendidikan {
    margin-top: 420px;
    color: white;
}

.content ul {
    position: absolute;
    color: white;
    font-size: 20px;
}

.content ul.Education {  
    margin-top: 470px;
    margin-left: 610px;
    line-height: 25px;
}

.content h1.Skill {
    margin-left: 1000px;
    margin-top: 420px;
    color: white;
    
}

.content ul.skilla {
    margin-left: 1020px;
    margin-top: 490px;
    line-height: 35px;
}

.content img.elemen1 {
    width: 170px;
    position: absolute;
    z-index: 20;
    right: 0;
    margin-right: 100px;
    margin-top: 100px;
    rotate: 25deg;
}
